<nav ng-show="main.$state.includes('home') || main.$state.includes('profile')" class="navbar navbar-default navbar-custom affix navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- Mobile Nav Button -->
      <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home" class="navbar-brand">ProtoSite</a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <!-- Main nav links -->
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="profile">{{main.currentUser.username | uppercase}}</a></li>
        <li ng-show="main.currentUser" ng-controller="logoutController as logoutCtrl"><a ng-click="logoutCtrl.logout()">Log Out</a></li>
        <li ng-show="!main.currentUser" ng-controller="logoutController as logoutCtrl"><a ng-click="logoutCtrl.logout()">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
