<nav ng-show="main.$state.includes('home') || main.$state.includes('profile') || main.$state.includes('404')" class="navbar navbar-default navbar-custom affix navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- Mobile Nav Button -->
      <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home" class="navbar-brand">ProtoSite</a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <!-- Main nav links -->
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="profile">{{main.currentUser.username | uppercase}}</a></li>
        <li ng-show="main.currentUser" ng-controller="logoutController as logoutCtrl"><a ng-click="logoutCtrl.logout()">Log Out</a></li>
        <li ng-show="!main.currentUser" ng-controller="logoutController as logoutCtrl"><a ng-click="logoutCtrl.logout()">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>


<div ng-show="main.currentUser" class="chat-wrapper">
  <div class="take-me">{{main.currentUser.username}}</div>
  <div class="chat-bubble fonts"><i class="fab fa-weixin"></i></div>
  <div class="chat-container">
    <div class="chat-head">
      <i class="fas fa-users"></i>
      <i class="fas fa-times"></i>
      <i class="fas fa-expand-compress fa-expand-arrows-alt"></i>
    </div>
    <div class="chat-body"></div>
    <div class="chat-foot">
        <div class="chat-input"> <input type="text" class="form-control"></div>
        <div class="chat-send"><i class="fab fa-telegram-plane"></i></div>
    </div>
  </div>
  <!-- <div class="chat-container chat-container-big">
    <div class="chat-head">
      <i class="fas fa-users"></i>
      <i class="fas fa-times"></i>
      <i class="fas fa-expand-arrows-alt"></i>
      <i class="fas fa-compress"></i>
    </div>
    <div class="chat-body chat-body-big"></div>
    <div class="chat-foot">
        <div class="chat-input chat-input-big"> <input type="text" class="form-control"></div>
        <div class="chat-send"><i class="fab fa-telegram-plane"></i></div>
    </div>
  </div> -->
</div>
