.nav, .pagination, .carousel, .panel-title a, *[ui-sref], *[href] { cursor: pointer; }

.container {
  padding-top: 75px;
}



/* ////////////////////////CHAT SECTION/////////////////////////////// */

.chat-wrapper{
  box-shadow: 1px 1px 21px 5px #a7a7a7;
}

.chat-wrapper .fonts {
  width: 50px;
  height: 50px;
}

.chat-wrapper > .chat-bubble{
  color: #FFFFFF;
  font-size: 21px;
  cursor: pointer;
  background-color: rgb(38, 68, 132);
  border-radius: 2px 27px 27px 27px;
  position: fixed;
  z-index: 1000;
  bottom: 27px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.chat-wrapper > .chat-container{
  width: 367px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  bottom: 27px;
  right: 27px;
  border-radius: 5px 5px 0 0;
  display: none;
}


.chat-wrapper > .chat-container > .chat-head{
  background-color: rgb(38, 68, 132);
  color: #FFFFFF;
  height: 37px;
  border-radius: 4px 4px 0 0;
}

.chat-head .fa-times {
  float: right;
  cursor: pointer;
}
.chat-head .fas {
  margin: 10px;
}

.chat-container > .chat-body{
  background-color: #FFFFFF;
  height: 337px;
  border-left: #f9f9f9;
  border-right: #f9f9f9;
  border-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  overflow-y: scroll;
  max-height: 337px;
}

.chat-container > .chat-foot {
  height: 40px;
  border: 1px solid rgb(170, 181, 204);
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
}

.chat-foot {
  display: flex;
}

.chat-foot > .chat-input {
  flex: 5;
}

.chat-input > .form-control{
  height: 37px;
  border-radius: 0 0 0 4px;
  border: none;
}

/* .chat-input > .form-control:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(38, 68, 132
} */

.chat-foot > .chat-send {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(38, 68, 132);
}


.message{
  margin: 0.5em;
  display: flex;
}

.message-content{
  /* background-color: #f1f6ff; */
  color: #9797a4;
  padding: 7px;
  border-radius: 0px 4px;
  display: inline-block;
  flex: 16;
}


.avatar {
  padding: 10px 13px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 16px;
}

.avatar-primary{
  background-color: rgb(38, 68, 132);
  color: #FFFFFF;
}
.avatar-secondary {
  background-color: #f1f6ff;
  color: #9797a4;
}

.take-me {
  display: none;
}

/* /////////////////////////////////////////////////////// */










.car img {
  max-width: 100%;
  margin-right: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: inherit
}

#services .glyphicon{
  font-size: 110px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.car-image {
  max-width:100%;
}

.map {
  display: none;
}

.page-scroll {
  width: 177px;
  background-color: #760926;
  color: white;
}

#contacts {
  padding: 77px 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 7px 7px 7px #d2d2d2;
  color: #760926;
}

.social:hover {
    -webkit-transition: all 330ms ease-in;
  -moz-transition: all 330ms ease-in;
  -o-transition: all 330ms ease-in;
    transition: all 330ms ease-in;
    transform: scale(1.5);

}

.social a {color: #555;}


#change {
display: none;
}

.navigation-bar {
  padding-top: 57px;
}

@media only screen and (max-width: 768px){

div .loginImg{
  display: none;
}

.trust .navHome{
  width: 100%;
}

#change {
display: inline;
}

.navigation-bar {
  padding-top: 17px;
}

.intro-text {
  color: rgba(0, 0, 0, 0.8);
}

}
