@import url("//weloveiconfonts.com/api/?family=entypo");
@import url("//weloveiconfonts.com/api/?family=zocial");

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


.nav, .pagination, .carousel, .panel-title a, *[ui-sref], *[href] { cursor: pointer; }

.container {
  padding-top: 75px;
}

.car img {
  max-width: 100%;
  margin-right: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: inherit
}

#services .glyphicon{
  font-size: 110px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.car-image {
  max-width:100%;
}

.map {
  display: none;
}

.page-scroll {
  width: 177px;
  background-color: #760926;
  color: white;
}

#contacts {
  padding: 77px 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 7px 7px 7px #d2d2d2;
  color: #760926;
}

.social:hover {
    -webkit-transition: all 330ms ease-in;
  -moz-transition: all 330ms ease-in;
  -o-transition: all 330ms ease-in;
    transition: all 330ms ease-in;
    transform: scale(1.5);

}

.social a {color: #555;}


#change {
display: none;
}

.navigation-bar {
  padding-top: 57px;
}

@media only screen and (max-width: 768px){

div .loginImg{
  display: none;
}

.trust .navHome{
  width: 100%;
}

#change {
display: inline;
}

.navigation-bar {
  padding-top: 17px;
}

.intro-text {
  color: rgba(0, 0, 0, 0.8);
}

}
