<header>
  <div class="container navHm">
      <div class="intro-text">
        <div class="intro-lead-in" style="text-align:left;padding-left: 37px;color:#760926;"><small><em>- Just a [Ctrl-v] away from a webpage</em></small></div>
          <div class="intro-heading" style="color:#760926;">protosite</div>
        <div class="alert alert-danger" ng-show="pageCtrl.invalidUrl">
          Enter a valid Url: &emsp;&emsp;&emsp;  https://www.yelp.com/biz/**GI**
        </div>
    </div>
  </div>
</header>
<br><br>
<wrapper class="hPAdjuster">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h4><strong>WebPage with ProtoSite</strong></h4><br>
            <p class="list-group-item list-group-item-success">Copy your yelp business URL</p>
            <p class="list-group-item list-group-item-info">Paste it in your  <strong style="color:#760926;"> ProtoSite </strong> profile</p>
            <p class="list-group-item list-group-item-warning">Find your webpage generated</p>
            <p class="list-group-item list-group-item-danger">Enjoy...</p>
      </div>
      <div class="col-md-7 col-md-offset-1 info-img"></div>
    </div>
  </div>
<br><br><br><br><br><br>

<div class="container-fluid trust"></div>
<br><br><br><br>
<div class="container navHome">
    <div class="intro-text">

  </div>
</div>

</wrapper>

<footer>
    Copyright &copy; GI -
    <a href="#" target="_blank">ProtoSite Inc.</a><br> Cliffside Dr
    <br /> Malibu, CA 90265
    <br /> +1 (666) 666-6666
</footer>
