<header>
  <div class="container navHome">
      <div class="intro-text">
        <div class="intro-lead-in" style="text-align:left;padding-left: 37px;color:#760926;"><small><em>- Just a [Ctrl-v] away from a webpage</em></small></div>
          <div class="intro-heading" style="color:#760926;">protosite</div>
        <div class="alert alert-danger" ng-show="pageCtrl.invalidUrl">
          Enter a valid Url: &emsp;&emsp;&emsp;  https://www.yelp.com/biz/**GI**
        </div>
    </div>
  </div>
</header>
<br><br>
<wrapper class="hPAdjuster">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h4><strong>Create your site with Yelp</strong></h4><br>
            <p class="list-group-item list-group-item-success">Dapibus ac facilisis in</p>
            <p class="list-group-item list-group-item-info">Cras sit amet nibh libero</p>
            <p class="list-group-item list-group-item-warning">Porta ac consectetur ac</p>
            <p class="list-group-item list-group-item-danger">Vestibulum at eros</p>
      </div>
      <div class="col-md-6 info-img"></div>
    </div>
  </div>
<br><br><br><br><br><br><br><br>
<div class="container-fluid trust"></div>

</wrapper>
