

<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="gridModalLabel">nUPath</h2>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
              <u>What is nUPath?</u> <br>
              <small>nUPath is a web application for students.  Targeted to Junior highschoolers and up, nUPath gives young students a platform to display their achievements, and connect with other students, faculty, schools and universities.</small>
            </div> <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bd-example bd-example-padded-bottom">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#gridSystemModal">
      About nUPath
    </button>
  </div>



<div class="container">
    <h1>Login</h1>
    <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
    <div class=" row">
      <div class="col-md-5 col-sm-5">
        <form ng-submit="loginCtrl.login()">
          <div class="input-group">
            <input type="text" class="form-control" name="username" ng-model="loginCtrl.loginForm.username" required><span class="input-group-addon zocial-guest" id="basic-addon3"></span>
          </div><br><br>
          <div class="input-group">
              <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required><span class="entypo-key input-group-addon"></span>
            </div><br><br>
            <div>
              <button type="submit" class="btn page-scroll" ng-disabled="loginCtrl.disabled">Login</button>&emsp;
              <button type="submit" class="btn page-scroll" ng-disabled="loginCtrl.disabled">Register</button>
            </div>
        </form>
      </div>
      <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2"><div class="loginImg"></div></div>
    </div>
</div>
