<div class="container">
    <div class=" row">
      <div class="col-md-5 col-sm-5">
        <div ng-show = "loginCtrl.selected">
          <h1>Login</h1>
          <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
          <form ng-submit="loginCtrl.login()">
            <div class="input-group">
              <input type="text" class="form-control" name="username" ng-model="loginCtrl.loginForm.username" required><span class="input-group-addon" id="basic-addon3"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div><br><br>
            <div class="input-group">
                <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required><span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
              </div><br><br>
              <div>
                <button type="submit" class="btn page-scroll" ng-disabled="loginCtrl.disabled">Login</button>
              </div>
          </form>
          <br>
          <button class="btn btn-link" data-toggle="modal" data-target="#gridSystemModal" ng-click="loginCtrl.status()">Register Me..</button>
        </div>





        <div ng-hide="loginCtrl.selected" ng-controller="registerController as registerCtrl">
          <h1>Register</h1>
        <div ng-show="registerCtrl.error" class="alert alert-danger">{{registerCtrl.errorMessage}}</div>
        <form ng-submit="registerCtrl.register()">
          <div class="input-group">
            <input type="text" class="form-control" name="username" ng-model="registerCtrl.registerForm.username" required><span class="input-group-addon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          </div><br><br>

          <div class="input-group">
              <input type="password" class="form-control" name="password" ng-model="registerCtrl.registerForm.password" required><span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
            </div><br><br>
            <div>
              <button type="submit" class="btn page-scroll" ng-disabled="registerCtrl.disabled">Register</button>
            </div>
        </form>
      </div>
    </div>
      <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2"><div class="loginImg"></div></div>
    </div>
</div>
