<header>
  <div class="container navPfl">
      <div class="intro-text">
          <div class="intro-heading">Site Engine</div>
          <div class="intro-lead-in" style="text-align:left;padding-left: 37px;">{{main.currentUser.username | uppercase}}</div>
      <form ng-submit="pageCtrl.createPage()" class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3"><small><strong>https://www.yelp.com/biz/**GI**</strong></small></span><input ng-model="pageCtrl.newPage.pageUrl" class="form-control" type="url" name="name" placeholder="Image Link">
        </div><br>
        <input type="submit" value="submit" class="btn page-scroll">
      </form>
    </div>
  </div>
</header>
<br><br><br><br>
<div class="container well" ng-repeat="page in pageCtrl.pages">
  <div class="row">
    <div class="col-md-4" ui-sref="page({id: page._id})">
      <strong>{{page.pageUrl.slice(25).split("-").slice(0,2).join(" ")}}</strong>
    </div>

      <div class="col-md-4 col-md-offset-4">
        <div class="" ui-sref="page({id: page._id})">
          <small><strong>Created: <br />{{page.updatedAt | date: "MM/dd/yyyy 'at' h:mma"}}</strong></small>
        </div>
        <div class="social entypo-trash" style="float:right;"></div>
        <a href="{{page.pageUrl}}" target="_blank"><div class="social zocial-yelp" style="float:right;"></div></a>

    </div>
  </div>
</div>
