<header>
  <div class="container navPfl">
      <div class="intro-text">
          <div class="intro-heading">Site Engine</div>
          <div class="intro-lead-in" style="text-align:left;padding-left: 37px;">{{main.currentUser.username | uppercase}}</div>
      <form ng-submit="pageCtrl.createPage()" class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3"><small><strong>https://www.yelp.com/biz/**GI**</strong></small></span><input ng-model="pageCtrl.newPage.pageUrl" class="form-control" type="url" name="name" placeholder="Image Link">
        </div><br>
        <input type="submit" value="submit" class="btn btn-info">
      </form>
    </div>
  </div>
</header>
<br><br><br><br>
<div class="container well" ng-repeat="page in pageCtrl.pages">
  <div class="row">
    <div class="class="col-md-4"">
      <strong><a href="{{page.pageUrl}}" target="_blank">{{page.pageUrl.slice(25).split("-").slice(0,2).join(" ")}}</a></strong>
    </div>

      <div class="col-md-4 col-md-offset-4" ui-sref="page({id: page._id})">
      {{page}}
    </div>
  </div>
</div>
